.docs-aside-tree .link.active{
    color: var(--color-gray-900)!important;
    font-weight: 600;
}

.docs-aside-tree li.bordered.active{
    border-color: var(--color-gray-900)!important;
}
.request-identifier{
    font-size: 12px;
    padding: 4px 8px;
    border-radius:4px;
    color: rgb(21 128 61);
    font-weight: 500;
    background-color: rgb(240 253 244);
    box-shadow: 0 0 1px 1px rgba(22,163,74,.2);
}

.request-box{
    display: flex;
    gap: 0.5rem;
}

@media (max-width: 500px) {

    .request-url code{
        font-size: 10.8px!important;
    }
    .request-identifier{
        font-size: 9px;
        padding: 4px 8px;
    }
}